/JavaApplication10/nbproject/private/
/JavaFXCripto/nbproject/private/
/IReportes/target/
/CallWebSocket/target/
/DaoCobranza/target/
/Comun/target/
/IMensajeTexto/target/
/ICorreo/target/
/NegocioCobranza/target/
/LibConn/target/
/pdftoimg/target/
/PropertiesEVA/target/
/JavaApplication10/build/
/JavaFXCripto/dist/
/JavaFXCripto/build/
/webcobranza/target/
/ProcesamientoCobranza/ProcesamientoCobranza-ear/target/
/ProcesamientoCobranza/ProcesamientoCobranza-ejb/target/
/ProcesamientoCorreo/ProcesamientoCorreo-ejb/target/
/ProcesamientoCredencial/ProcesamientoCredencial-ejb/target/
/ProcesamientoMensaje/ProcesamientoMensaje-ejb/target/
/ProcesamientoCredencial/ProcesamientoCredencial-ear/target/
/ProcesamientoMensaje/ProcesamientoMensaje-ear/target/
/ProcesamientoCorreo/ProcesamientoCorreo-ear/target/
/Reportes/Reportes-ejb/target/
/Reportes/Reportes-ear/target/